<section class="margin">
  <h3 class="margin-top-20">
    Swipeable Cards with HammerJS
    <span class="sub header">(swipe left or right)</span>
  </h3>

  <div class="swipeable-card-container">
    <swipeable-card *ngFor="let record of example2; let idx = index;"
                    [cards]="example2"
                    [class.visible]="record.visible"
                    [class.hidden]="!record.visible"
    >
      <img swipeable-card-image src="{{ record.image }}">
      <swipeable-card-content>
        <swipeable-card-title>
          {{ record.name }}
          <small>{{ idx }}</small>
        </swipeable-card-title>
        <p>{{ record.content }}</p>
      </swipeable-card-content>

      <swipeable-card-actions>
        <button swipeable-button (click)="like(record)">LIKE</button>
        <button swipeable-button (click)="share(record)">SHARE</button>
      </swipeable-card-actions>
    </swipeable-card>
  </div>

</section>